Client/Service References/BookItService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ITubsService.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ITubsService.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://rentit.itu.dk/RentIt12/Services/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bookings" nillable="true" type="tns:ArrayOfBooking" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Roles" nillable="true" type="tns:ArrayOfRole" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="ArrayOfBooking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Booking" nillable="true" type="tns:Booking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBooking" nillable="true" type="tns:ArrayOfBooking" />
  <xs:complexType name="Booking">
    <xs:sequence>
      <xs:element minOccurs="0" name="CateringChoices" nillable="true" type="tns:ArrayOfCateringChoice" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EquipmentChoices" nillable="true" type="tns:ArrayOfEquipmentChoice" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfParticipants" type="xs:int" />
      <xs:element minOccurs="0" name="Person" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="PersonID" type="xs:int" />
      <xs:element minOccurs="0" name="Room" nillable="true" type="tns:Room" />
      <xs:element minOccurs="0" name="RoomID" type="xs:int" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Booking" nillable="true" type="tns:Booking" />
  <xs:complexType name="ArrayOfCateringChoice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CateringChoice" nillable="true" type="tns:CateringChoice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCateringChoice" nillable="true" type="tns:ArrayOfCateringChoice" />
  <xs:complexType name="CateringChoice">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="Booking" nillable="true" type="tns:Booking" />
      <xs:element minOccurs="0" name="BookingID" type="xs:int" />
      <xs:element minOccurs="0" name="Catering" nillable="true" type="tns:Catering" />
      <xs:element minOccurs="0" name="CateringID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="CateringChoice" nillable="true" type="tns:CateringChoice" />
  <xs:complexType name="Catering">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvailableFrom" type="ser:duration" />
      <xs:element minOccurs="0" name="AvailableTo" type="ser:duration" />
      <xs:element minOccurs="0" name="CateringChoices" nillable="true" type="tns:ArrayOfCateringChoice" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Catering" nillable="true" type="tns:Catering" />
  <xs:complexType name="Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="People" nillable="true" type="tns:ArrayOfPerson" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="ArrayOfPerson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Person" nillable="true" type="tns:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerson" nillable="true" type="tns:ArrayOfPerson" />
  <xs:complexType name="Room">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bookings" nillable="true" type="tns:ArrayOfBooking" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Inventories" nillable="true" type="tns:ArrayOfInventory" />
      <xs:element minOccurs="0" name="MaxParticipants" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Room" nillable="true" type="tns:Room" />
  <xs:complexType name="ArrayOfInventory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Inventory" nillable="true" type="tns:Inventory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInventory" nillable="true" type="tns:ArrayOfInventory" />
  <xs:complexType name="Inventory">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="InventoryType" nillable="true" type="tns:InventoryType" />
      <xs:element minOccurs="0" name="InventoryTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Room" nillable="true" type="tns:Room" />
      <xs:element minOccurs="0" name="RoomID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Inventory" nillable="true" type="tns:Inventory" />
  <xs:complexType name="InventoryType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Inventories" nillable="true" type="tns:ArrayOfInventory" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="InventoryType" nillable="true" type="tns:InventoryType" />
  <xs:complexType name="EquipmentChoice">
    <xs:sequence>
      <xs:element minOccurs="0" name="Booking" nillable="true" type="tns:Booking" />
      <xs:element minOccurs="0" name="BookingID" type="xs:int" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Equipment" nillable="true" type="tns:Equipment" />
      <xs:element minOccurs="0" name="EquipmentID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="EquipmentChoice" nillable="true" type="tns:EquipmentChoice" />
  <xs:complexType name="Equipment">
    <xs:sequence>
      <xs:element minOccurs="0" name="EquipmentChoices" nillable="true" type="tns:ArrayOfEquipmentChoice" />
      <xs:element minOccurs="0" name="EquipmentType" nillable="true" type="tns:EquipmentType" />
      <xs:element minOccurs="0" name="EquipmentTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Equipment" nillable="true" type="tns:Equipment" />
  <xs:complexType name="ArrayOfEquipmentChoice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EquipmentChoice" nillable="true" type="tns:EquipmentChoice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEquipmentChoice" nillable="true" type="tns:ArrayOfEquipmentChoice" />
  <xs:complexType name="EquipmentType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Equipments" nillable="true" type="tns:ArrayOfEquipment" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="EquipmentType" nillable="true" type="tns:EquipmentType" />
  <xs:complexType name="ArrayOfEquipment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Equipment" nillable="true" type="tns:Equipment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEquipment" nillable="true" type="tns:ArrayOfEquipment" />
  <xs:complexType name="ArrayOfRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Role" nillable="true" type="tns:Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRole" nillable="true" type="tns:ArrayOfRole" />
  <xs:complexType name="ArrayOfCatering">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Catering" nillable="true" type="tns:Catering" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCatering" nillable="true" type="tns:ArrayOfCatering" />
  <xs:complexType name="ArrayOfInventoryType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InventoryType" nillable="true" type="tns:InventoryType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInventoryType" nillable="true" type="tns:ArrayOfInventoryType" />
  <xs:complexType name="ArrayOfRoom">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Room" nillable="true" type="tns:Room" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoom" nillable="true" type="tns:ArrayOfRoom" />
  <xs:complexType name="ArrayOfEquipmentType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EquipmentType" nillable="true" type="tns:EquipmentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEquipmentType" nillable="true" type="tns:ArrayOfEquipmentType" />
</xs:schema>